FMSStaff_134418R/App_WebReferences/FMSWCFService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1200/FMSWCF_134418R/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1200/FMSWCF_134418R/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_IsValidAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidAccount" />
  </wsdl:message>
  <wsdl:message name="IService_IsValidAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getStaffName_InputMessage">
    <wsdl:part name="parameters" element="tns:getStaffName" />
  </wsdl:message>
  <wsdl:message name="IService_getStaffName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStaffNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_staffInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:staffInfo" />
  </wsdl:message>
  <wsdl:message name="IService_staffInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:staffInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_editProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:editProfile" />
  </wsdl:message>
  <wsdl:message name="IService_editProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:editProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="IsValidAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsValidAccount" message="tns:IService_IsValidAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsValidAccountResponse" message="tns:IService_IsValidAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStaffName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStaffName" message="tns:IService_getStaffName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStaffNameResponse" message="tns:IService_getStaffName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="staffInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/staffInfo" message="tns:IService_staffInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/staffInfoResponse" message="tns:IService_staffInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/editProfile" message="tns:IService_editProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/editProfileResponse" message="tns:IService_editProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValidAccount">
      <soap:operation soapAction="http://tempuri.org/IService/IsValidAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffName">
      <soap:operation soapAction="http://tempuri.org/IService/getStaffName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="staffInfo">
      <soap:operation soapAction="http://tempuri.org/IService/staffInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editProfile">
      <soap:operation soapAction="http://tempuri.org/IService/editProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1200/FMSWCF_134418R/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>